/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.page {
    margin: 32;
}

.px-btn {
    background-color: #6200EE;
    height: 48;
    border-radius: 4;
    font-size: 14;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
}

.px-input {
    border-width: 1;
    border-style: solid;
    border-color: rgba(0,0,0,0.6);
    border-radius: 4;
    margin: 32 0 0 0;
    font-size: 12;
    height: 48;
    padding: 16;
    font-family: 'Roboto';
    color: rgba(0,0,0,0.6);
}